import { {{camelName}}ChainId, fromAssetId } from '@shapeshiftoss/caip'
import { {{camelName}} } from '@shapeshiftoss/chain-adapters'
import { KnownChainIds } from '@shapeshiftoss/types'

import { getConfig } from '@/config'
import { getAssetService } from '@/lib/asset-service'
import type { Plugins } from '@/plugins/types'

// eslint-disable-next-line import/no-default-export
export default function register(): Plugins {
  return [
    [
      '{{camelName}}ChainAdapter',
      {
        name: '{{camelName}}ChainAdapter',
        featureFlag: ['{{pascalName}}'],
        providers: {
          chainAdapters: [
            [
              KnownChainIds.{{pascalName}}Mainnet,
              () => {
                const getKnownTokens = () => {
                  const assetService = getAssetService()
                  return assetService.assets
                    .filter(asset => {
                      const { chainId, assetNamespace } = fromAssetId(asset.assetId)
                      return chainId === {{camelName}}ChainId && assetNamespace === 'erc20'
                    })
                    .map(asset => ({
                      assetId: asset.assetId,
                      contractAddress: fromAssetId(asset.assetId).assetReference,
                      symbol: asset.symbol,
                      name: asset.name,
                      precision: asset.precision,
                    }))
                }

                return new {{camelName}}.ChainAdapter({
                  rpcUrl: getConfig().VITE_{{upperName}}_NODE_URL,
                  getKnownTokens,
                })
              },
            ],
          ],
        },
      },
    ],
  ]
}
