{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "ignorePatterns": [
    "build",
    "dist",
    "coverage",
    "generated",
    "node_modules"
  ],
  "plugins": [
    "jest",
    "prettier",
    "simple-import-sort",
    "eslint-plugin-react-memo",
    "eslint-plugin-import"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "jsx-a11y/alt-text": "error",
    "jsx-a11y/no-autofocus": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "all",
        "argsIgnorePattern": "^_",
        "caughtErrors": "none",
        "caughtErrorsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "endOfLine": "lf",
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "semi": false,
        "arrowParens": "avoid",
        "jsxSingleQuote": true,
        "trailingComma": "all"
      }
    ],
    "default-case": "error",
    "import/no-default-export": "error",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          [
            "^\\u0000"
          ],
          [
            "^@?\\w",
            "^assets(/.*|$)",
            "^components(/.*|$)",
            "^context(/.*|$)",
            "^hooks(/.*|$)",
            "^jest(/.*|$)",
            "^lib(/.*|$)",
            "^pages(/.*|$)",
            "^services(/.*|$)",
            "^state(/.*|$)",
            "^theme(/.*|$)",
            "^types(/.*|$)"
          ],
          [
            "^\\."
          ]
        ]
      }
    ],
    "object-shorthand": "error",
    "eqeqeq": "error",
    "react-hooks/exhaustive-deps": "error",
    "@typescript-eslint/array-type": "error",
    "@typescript-eslint/consistent-type-imports": ["error", {
      "prefer": "type-imports",
      "fixStyle": "separate-type-imports"
    }],
    "import/consistent-type-specifier-style": ["error", "prefer-top-level"],
    "react/jsx-handler-names": "error",
    "require-await": "error",
    "import/no-duplicates": "error",
    "react-memo/require-usememo": "error"
  },
  "overrides": [
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    },
    {
      "files": ["**/__tests__/mockData/*.ts"],
      "rules": {
        "import/no-default-export": "off",
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}
