# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# Lerna
lerna-debug.log

# testing
/coverage

# production
/build

# Optional eslint cache
.eslintcache

# misc
.DS_Store
.env
dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vs-code
.history
.vscode
