# run unchained locally
# REACT_APP_UNCHAINED_ETHEREUM_HTTP_URL=http://api.ethereum.localhost
# REACT_APP_UNCHAINED_ETHEREUM_WS_URL=ws://api.ethereum.localhost
# REACT_APP_UNCHAINED_BITCOIN_HTTP_URL=http://api.bitcoin.localhost
# REACT_APP_UNCHAINED_BITCOIN_WS_URL=ws://api.bitcoin.localhost
# connect to dev cluster
REACT_APP_UNCHAINED_ETHEREUM_HTTP_URL=https://dev-api.ethereum.shapeshift.com
REACT_APP_UNCHAINED_ETHEREUM_WS_URL=wss://dev-api.ethereum.shapeshift.com
REACT_APP_UNCHAINED_BITCOIN_HTTP_URL=https://dev-api.bitcoin.shapeshift.com
REACT_APP_UNCHAINED_BITCOIN_WS_URL=wss://dev-api.bitcoin.shapeshift.com
REACT_APP_PORTIS_DAPP_ID=https://foxcry.pt/#70f14280-0f92-4d87-830a-5d47dcfa6798;v3ocZv4/qniCTFOGlMEz0bYQ
REACT_APP_ETHEREUM_NODE_URL=https://mainnet.infura.io/v3/5843244e30ef4b68b2a0cede1813a327
REACT_APP_METAMASK_DEEPLINK_URL=https://metamask.app.link/dapp/app.shapeshift.com
