ESLINT_NO_DEV_ERRORS=true
TSC_COMPILE_ON_ERROR=true
IMAGE_INLINE_SIZE_LIMIT=0
INLINE_RUNTIME_CHUNK=false
REACT_APP_HIDE_SPLASH=false

# run unchained locally
# REACT_APP_UNCHAINED_ETHEREUM_HTTP_URL=http://api.ethereum.localhost
# REACT_APP_UNCHAINED_ETHEREUM_WS_URL=ws://api.ethereum.localhost
# REACT_APP_UNCHAINED_BITCOIN_HTTP_URL=http://api.bitcoin.localhost
# REACT_APP_UNCHAINED_BITCOIN_WS_URL=ws://api.bitcoin.localhost
# connect to dev cluster
REACT_APP_UNCHAINED_ETHEREUM_HTTP_URL=https://dev-api.ethereum.shapeshift.com
REACT_APP_UNCHAINED_ETHEREUM_WS_URL=wss://dev-api.ethereum.shapeshift.com
REACT_APP_UNCHAINED_BITCOIN_HTTP_URL=https://dev-api.bitcoin.shapeshift.com
REACT_APP_UNCHAINED_BITCOIN_WS_URL=wss://dev-api.bitcoin.shapeshift.com
REACT_APP_PORTIS_DAPP_ID=<get dapp ID from someone>
REACT_APP_ETHEREUM_NODE_URL=<get free key from infura or other provider>
