name: Commitlint, Lint, Type Check, Test & Build

on:
  workflow_call:

jobs:
  static:
    name: Static
    runs-on: size-bertha
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: OpenJDK
        uses: actions/setup-java@v3
        with:
          distribution: 'microsoft'
          java-version: '11'

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            ~/.cache/Cypress
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: Yarn Install
        run: yarn install --immutable

      # needs to run after install
      - name: Commitlint PR Title
        # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-using-contexts
        # only commitlint on PRs - pull_request.title not available in merge_group (merge queue)
        # https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#merge_group
        # once a PR is in the merge queue, its title has already been commitlint'd
        if: ${{ github.event_name == 'pull_request' }}
        env:
          TITLE: ${{ github.event.pull_request.title }}
        run: printf '%s' "$TITLE" | npx commitlint

      - name: Build Packages
        run: yarn build:packages

      - name: Lint
        run: yarn lint

      - name: Type Check
        run: yarn type-check

      - name: Add environment variables
        run: yarn env app

      - name: Test
        run: yarn test:ci

      - name: Build
        run: yarn build:web
